
jupyter lab.bat
models/simple_seq2seq.model

.ipynb_checkpoints/

models/simple_seq2seq_with_context.model

models/params.model

models/simple_seq2seq_with_context.rar

models/

.idea/

__pycache__/

application/build/

application/dist/

*.spec

data/cached/

data/lenta/

data/pretrained_embeddings/
